<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="conToPersonnelInwork" connectionString="Data Source=T1GASN7AC1P6KHD;Initial Catalog=PersonInwork;Integrated Security=True" />
    <add name="PersonnelRecode.Properties.Settings.PersonInworkConnectionString"
      connectionString="Data Source=T1GASN7AC1P6KHD;Initial Catalog=PersonInwork;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <appSettings>
      <add key ="StartDate" value=""/>
      <add key="IncomeSource" value=""/>
    </appSettings>
  
</configuration>